@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: 'graphik-regular';
  color: #767676;
}

a {
  text-decoration: none;
}


/* Geral */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-content {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
}

.section-content-left {
  flex: 1;
  align-self: center;
}

.section-content-left p {
  font-size: 48px;
}

.section-content-left .section-content-title {
  font-size: 48px;
  color: #8A05BE;
}

.section-content-title.title-underline {
  display: inline-block;
  border-bottom: 1px solid #CA8EE2;
}

.section-content-title.title-underline:hover {
  border-color: #FFF;
}

.section-content-left .section-content-subtitle {
  color: #767676;
}

.section-content-left .section-content-link {
  color: #8A05BE;
  display: inline-block;
  margin-top: 29px;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: #CCC;
  transition:
    .5s text-decoration ease;
}

.section-content-left .section-content-link:hover {
  text-decoration-color: #8A05BE;
}

.section-purple {
  background-color: #530082;
}

.section-purple .section-content-left .section-content-title {
  color: #FFF;
}

.section-purple .section-content-left .section-content-subtitle {
  color: #CA8EE2;
}

.section-purple .section-content-left .section-content-link {
  color: #FFF;
  text-decoration-color: #8A05BE;
}

.section-purple .section-content-left .section-content-link:hover {
  text-decoration-color: #FFF;
}

.section-with-bg .container {
  height: 100%;
}

.section-with-bg .section-content-left {
  flex: 1 1 38%;
}

.section-with-bg .section-content-left .section-content-title,
.section-with-bg .section-content-left .section-content-subtitle,
.section-with-bg .section-content-left .section-content-link {
  color: #FFF;
}

.section-with-bg .section-content-left .section-content-link {
  text-decoration-color: #CCC;
}

.section-with-bg .section-content-left .section-content-link:hover {
  text-decoration-color: #FFF;
}

.section-with-bg .section-content-right {
  flex: 1 1 62%;
}

.section-content-right {
  flex: 1;
}

.section-content-right img {
  width: 100%;
}


/* Menu */
#nav-bar {
  background: #FFF;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0 0 0 32px;
  border-bottom: 1px solid #CCC;
}

#nav-bar #nav-bar-left,
#nav-bar #nav-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
}

#nav-bar #logo {
  width: 45px;
  height: 33px;
  margin-right: 15px;
}

#nav-bar li {
  margin: 29px 12px;
}

#nav-bar li a {
  padding: 19px 0;
  transition:
    .5s color ease,
    .5s background ease;
}

#nav-bar li:not(.button):hover a,
#nav-bar li.active:hover a,
#nav-bar li#login:hover a {
  color: #BA4DE3;
}
#nav-bar li.button:hover a {
  background: #BA4DE3;
}

#nav-bar li.active a {
  color: #8A05BE;
}

#nav-bar li#login {
  margin-right: 18px;
}

#nav-bar li#login a {
  color: #8A05BE;
}

#nav-bar li.button {
  margin-right: 0;
}

#nav-bar li.button a {
  background: #8A05BE;
  color: #FFF;
  font-family: 'Arial';
  padding: 31px 33px 30px 28px;
}

/* Conteúdo */

/* Seção 1 */
#section-1 {
  margin-top: 145px;
  margin-bottom: 128px;
  position: relative;
}

#section-1 #section-1-bg {
  width: 100%;
  height: 752px;
  object-fit: cover;
}

#section-1 #section-1-content {
  position: absolute;
  top: 0;
}

#section-1 #section-1-content p {
  color: #FFF;
}

#section-1 #section-1-content .section-content-left {
  padding: 0 95px 0 88px;
}

#section-1 #section-1-content #section-1-content-title {
  font-size: 45px;
  margin-bottom: 17px;
}

#section-1 #section-1-content #section-1-content-description {
  width: 300px;
  font-size: 17px;
  line-height: 26px;
}

#section-1 #section-1-content #btn-want-be-nubank {
  display: inline-block;
  background: #8A05BE;
  margin-top: 34px;
  padding: 20px 32px;
  font-size: 16px;
  color: #FFF;
  font-family: 'graphik-medium';
  transition:
    .5s background ease;
}

#section-1 #section-1-content .section-content-right {
  align-self: flex-end;
  position: relative;
  bottom: -63px;
  padding: 0 88px 0 95px;
}

#section-1 #section-1-content .section-content-right img {
  width: 100%;
}

/* Seção 2 */
#section-2 {
  background: #F5F5F5;
}

#section-2 #section-2-content {
  padding: 159px 0;
}

#section-2 #section-2-content .section-content-left {
  flex: 1 1 42%;
  align-self: center;
}

#section-2 #section-2-content .section-content-right {
  flex: 1 1 58%;
  align-self: center;
}


/* Seção 3 */
#section-3 {
  background: #FFF;
}

#section-3 #section-3-content {
  padding: 107px 0 0;
}

#section-3 #section-3-content .section-content-left {
  flex: 1 1 46%;
  align-self: center;
}

#section-3 #section-3-content .section-content-right {
  flex: 1 1 54%;
  display: flex;
  justify-content: flex-end;
}

#section-3 #section-3-content .section-content-right img {
  width: 342px;
}



/* Seção 4 */
#section-4 #section-4-content {
  padding: 160px 0;
}

#section-4 #section-4-content .section-content-left {
  flex: 1 1 66%;
  align-self: center;
}

#section-4 #section-4-content .section-content-left .section-content-subtitle {
  width: 460px;
}

#section-4 #section-4-content .section-content-right {
  flex: 1 1 34%;
  display: flex;
  justify-content: flex-end;
}

#section-4 #section-4-content .section-content-right img {
  width: 100%;
}



/* Seção 5 */
#section-5 {
  width: 100%;
  object-fit: cover;
  background: url('../images/bg2.jpg') center;
  height: calc(100vh - 82px);
}



/* Seção 6 */
#section-6 {
  width: 100%;
  object-fit: cover;
  background: url('../images/bg3.webp') center;
  height: calc(100vh - 82px);
}

#section-6 .section-content-left {
  flex: 1 1 50%;
}



/* Seção 7 */
#section-7 {
  width: 100%;
  object-fit: cover;
  background: url('../images/bg4.webp') center;
  height: calc(100vh - 82px);
}

#section-7 .section-content-left {
  flex: 1 1 30%;
}



/* Footer */
footer {
  background: #111111;
}

footer #footer-items {
  display: flex;
  flex-wrap: wrap;
  padding: 84px 56px 0;
}

footer #footer-items .footer-item {
  display: flex;
  flex-direction: column;
  flex: 1 1 25%;
  margin-bottom: 80px;
}

footer #footer-items .footer-item .footer-item-title {
  color: #FFF;
  font-size: 18px;
  margin-bottom: 35px;
  font-family: 'graphik-medium';
}

footer #footer-items .footer-item .footer-item-links {
  display: flex;
  flex-direction: column;
}

footer #footer-items .footer-item .footer-item-links p {
  margin-bottom: 10px;
}

footer #footer-items .footer-item .footer-item-links p a {
  color: #FFF;
  font-size: 15px;
  font-family: 'graphik-medium';
}

footer #footer-items .footer-item .footer-item-links p a:hover {
  color: #D57DFF;
}

footer #footer-items .footer-item .footer-item-links#footer-item-apps img {
  width: 151px;
  margin-bottom: 25px;
}

footer #company-infos {
  border: 1px solid #191919;
  border-left-width: 0;
  border-right-width: 0;
  padding: 84px 70px 84px 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer #company-infos #company-infos-left {
  display: flex;
  align-items: center;
}

footer #company-infos #company-infos-left #logo-footer {
  margin-right: 33px;
}

footer #company-infos #company-infos-left #company-infos-details p {
  color: #FFF;
  font-size: 16px;
  margin-bottom: 5px;
  font-family: 'graphik-medium';
}

footer #company-infos #company-infos-right #company-social-networks {
  display: flex;
  align-items: center;
}

footer #company-infos #company-infos-right #company-social-networks a img {
  fill: red;
  margin-left: 27px;
}

footer #company-infos #company-infos-right #company-social-networks a:hover img {
  color: blue;
}

footer #languages {
  padding: 43px 57px;
  display: flex;
  justify-content: flex-end;
}

footer #languages p {
  margin-left: 65px;
}

footer #languages p a {
  font-size: 16px;
  font-family: 'graphik-medium';
  color: #FFF;
}

footer #languages p a:hover {
  color: #D57DFF;
}